<% layout("/layouts/boilerplate.ejs")%>
<div class="row  border border-primary">
  <div class="col-6 offset-2">
    <form method="post" action="/login" novalidate class="needs-validation">
      <h2>Login</h2>
      <div class="input-group mb-3">
          <label for="username" class="form-label">Username</label>
        <input type="text" name="username" required class="form-control">
      </div>
      <div class="input-group mb-3">
          <label for="password" class="form-label">Password</label>
        <input type="password" name="password" class="form-control" required>
      </div>
      <div class="remember">
        <label><input type="checkbox"> Remember me</label>
      </div>
      <button class="btn btn-success" type="submit">Login</button>
      <div class="signUp-link">
        <p>Don't have an account?
          <a href="/signup" class="signUpBtn-link btn btn-primary">Sign Up</a></p>
        </p>
      </div>
    </form>
  </div>
</div>