<footer>
    <div class="f-info">
        <div class="f-info-socials">
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-twitter"></i>
            <i class="fa-brands fa-instagram"></i>
    </div>
    <div>
        <bold>Wanderlust private limited Copyrights&copy;Amlan Ashish Sahoo</bold>
     </div>
        <div class ="f-info-links">
            <a href="/terms">terms and condition</a>
            <a href="/contact">contact us</a>
            <a href="/privacy">privacy</a>
        </div>
    </div>
</footer>